.Aside 
{
    grid-area: aside;
    padding: 0 20px;
    height: auto;
    background-color: #a47aae;
}

.list_aside
{
    
    display: flex;
    padding: 20px 0;
    flex-direction: column;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
}

.item_aside
{
    display: block;
    text-align: center;
    padding: 20px 0;
    font-size: 24px;
    
}
.item_aside a
{
    text-decoration: none;
    color: #4f0063;

}

.item_aside a.active
{
    color: #fff
}

.aside_friends {
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/* .aside_friends_container {

} */

.aside_friends_img {
    border-radius: 50%;
    border: 1px solid #4f0063;
    width: 100%;
    height: auto;
}

.aside_friends_name {
    color:#4f0063;
    font-size: 14px;
    padding-top: 10px;
}
