.PostItem
{
    margin: 0 auto;
}

.PostItem_wrapper  
{
    padding: 20px;
    display: flex;
    /* flex-direction: column; */
    text-align: left;
    column-gap: 20px;
}

.PostItem_img
{
    display: block;
    width: 50px;
    border: 1px solid #a47aae;
    border-radius: 50%;

}

/* .PostItem_text
{

}

.PostItem_icons
{

}

.PostItem_icon
{
    
} */
