.PostItem
{
    margin: 0 auto;
}

.PostItem_wrapper  
{
    padding: 20px;      
}

.PostItem_container
{
    display: flex;
    text-align: left;
    justify-content: space-between;
    column-gap: 20px;
}

.PostItem_icons
{
    width: 5%;
}

.PostItem_img
{
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid #a47aae;
    border-radius: 50%;

}

/* .PostItem_text
{

} */

.PostItem_icons
{
    margin-top: 20px;
    display: flex;
    gap: 20px;

}

.PostItem_icon
{
    display: block;
    width: 20px;
}
