.DialogItem {
    margin: 20px auto; 
}

.DialogItem_container {
    display: flex;
    gap: 30px;
    align-items: center;
    padding: 40px;   
}

.DialogItem_avatar {
    display: block;
    width: 50px;
    height: 50px;
}
.DialogItem_wrapper {
    width: 90%;
    background-color: #F1EBF3;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
}

.DialogItem_UsedData
{
    font-size: 20px;
}

.DialogItem_message
{
    margin-top: 10px;
    font-size: 16px;
}
.DialogItem_DateTime { 
    color: #4F0063;
    font-size: 18px;
    text-align: left;
}
.DialogItem_AfterLine::after
{
    content:'';
    background: #4f0063;
    display: block;
    height: 2px;
    width: 95%;
    margin: 0 auto;
}
