.DialogItem {
    padding: 40px;
    display: flex;
    gap: 30px;
    align-items: center;
}



.DialogItem_avatar {
    display: block;
    width: 50px;
    height: 50px;
}
.DialogItem_wrapper {
    width: 90%;
    background-color: #F1EBF3;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
}

.DialogItem_UsedData
{
    font-size: 20px;
}

.DialogItem_message
{
    font-size: 16px;
}
.DialogItem_DateTime{
    color: #4F0063;
    font-size: 18px;
    text-align: left;
}